@import 'fonts.css';


.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #3FA5D5;
    height: 140px;
    display: flex;
    align-items: center;
    margin-top: 44px;
}

.footer-data {
    display: flex;
    justify-content: space-between;
}

.footer-data__right {
    display: flex;
    flex-direction: column;
}

.footer-data__title {
    color: #FFF;
    font-family: 'RB';
    font-size: 50px;
    line-height: 59px;
}

.footer-data__tel {
    color: #FFF;
    font-family: 'RB';
    font-size: 18px;
    line-height: 21px;
}

.footer-data__email {
    color: #FFF;
    font-size: 16px;
    line-height: 19px;
    margin-top: 15px;
}

.footer-made {
    margin-top: 20px;
    color: #FFF;
    font-size: 18px;
    line-height: 21px;
}


/* **** Media start **** */

@media (max-width: 720px) {
    .footer {
        height: 200px;
    }

    .footer-data {
        flex-direction: column;
        align-items: center;
    }

    .footer-data__right {
        align-items: center;
    }

    .footer-made {
        margin-top: 15px;
    }
}


/* **** Media end **** */